<%- include("partials/header") %>   <!-- ejs Layouts -->
<link rel="stylesheet" href="/css/home-styles.css">

<!-- HEADING -->

<div class="headingg">



<div class="">
  <img class="home-image" src="/images/home-image.png" alt="" width="150" height="100">
</div>

<div class="flex-item-middle">
  <p class="featured-paragraph"> Featured Posts</p>
</div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

  <!-- Carousel 1 -->
    <div class="carousel-item active">
      <div class="row middle">
        <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
          <div class="padding-div">
            <img class="post-image" src="/images/man-city.jpg" alt="Post image">
            <div class="post-text">
              <h3 class="post-text-title">Text color</h3>
              <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
                The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
          <div class="padding-div">
            <img class="post-image" src="/images/eren.jpg" alt="Post image">
            <div class="post-text">
              <h3 class="post-text-title">Text color</h3>
              <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
                The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
          <div class="padding-div">
            <img class="post-image" src="/images/nature-post.png" alt="Post image">
            <div class="post-text">
              <h3 class="post-text-title">Text color</h3>
              <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
                The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Carousel 2 -->

    <div class="carousel-item">
      <div class="row middle">
        <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
          <div class="padding-div">
            <img class="post-image" src="/images/man-city.jpg" alt="Post image">
            <div class="post-text">
              <h3 class="post-text-title">Text color</h3>
              <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
                The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
          <div class="padding-div">
            <img class="post-image" src="/images/eren.jpg" alt="Post image">
            <div class="post-text">
              <h3 class="post-text-title">Text color</h3>
              <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
                The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
          <div class="padding-div">
            <img class="post-image" src="/images/nature-post.png" alt="Post image">
            <div class="post-text">
              <h3 class="post-text-title">Text color</h3>
              <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
                The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>

  <!-- Carousel Buttons -->
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- <div class="row middle">
  <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
    <div class="padding-div">
      <img class="post-image" src="/images/man-city.jpg" alt="Post image">
      <div class="post-text">
        <h3 class="post-text-title">Text color</h3>
        <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
          The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
    <div class="padding-div">
      <img class="post-image" src="/images/eren.jpg" alt="Post image">
      <div class="post-text">
        <h3 class="post-text-title">Text color</h3>
        <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
          The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
    <div class="padding-div">
      <img class="post-image" src="/images/nature-post.png" alt="Post image">
      <div class="post-text">
        <h3 class="post-text-title">Text color</h3>
        <p >The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog. 
          The quick brow fox jumped over the lazy dog. The quick brow fox jumped over the lazy dog.
        </p>
      </div>
    </div>
  </div>
</div> -->


<!-- Test -->
<!-- Remember make these filters work using mongo shell  -->
<!-- Remember to add filter section in compose page  -->
<div class="section">
  <ul class="section-ul">
    <li class="section-li-active">All</li>
    <li class="section-li-border"></li>
    <li class="section-li">News</li>
    <li class="section-li">Sports</li>
    <li class="section-li">Entertainment</li>
    <li class="section-li">Tech</li>
    <li class="section-li">Fashion</li>
    <li class="section-li">Branding</li>
  </ul>
</div>


<!-- END  -->


<div class="row end">

  <% posts.forEach(function(post){ %>

    <div class="col-sm-12 col-md-6 col-lg-4 flex-margin">
      <div class="padding-div">
        <img class="post-image" src="/images/nature-post.png" alt="Post image">
        <div class="post-text-end">
          <h3 class="post-text-title"><%= (post.name) %></h3>
          <p ><%= (post.post.substring(0, 100) + " ...") %> <br><a href="/posts/<%=post.name%>" >Read More</a>  </p>
        </div>
        <!-- <div class="avatar">
          <img src="images/userAvatar-1.png" class="userIcon" alt="">
          <h1 class="userIconText" style="padding-top:8px;"> David Suns</h1>
          <p class="iconTitle" >Brand Manager</p>
        </div> -->
      </div>
    </div>

  <% }); %>

</div>


<%- include("partials/footer") %>   <!-- ejs Layout -->
