<%- include("partials/header") %> 

  <div class="my-profile">
    <div>
     <img class="profile-dash" src="/images/dashboard.png" alt="">
     <img class="profile-pic" src="/favicon/profile-default.png" alt="Profile Pic">
    </div>
    
    <div class="row">      
      <!-- Posts Section  -->     
      <div class="col-lg-12">
        <h3 class="my-profile-name"> <%= firstNameEdit %> <%= lastNameEdit %></h3>
        <p class="my-profile-p"><%= bloggerStatusEdit %></p>
        <h4 class="my-profile-username" ><%= accountName %></h4>
        <p class="my-profile-p" ><%= username %></p>
        <div class="profile-bg">
        <% if(noPost ===  false){ %>
          <h4>All Posts</h4>
        </div>
        <div class="posts-container border">
          <div class="row">
            <% userPosts.slice().reverse().forEach(function(post){ %>                
                <div class="col-lg-4 col-md-6">
                  <a class="aaa" href="/posts/<%=post.name%>">      
                    <div class="post-post">
                      <img src="<%= post.image%>" alt="Post image">
                      <div class="post-text">
                        <p class="my-post-text-date"><%= post.postDate %></p>
                        <% if ((post.name).length > 50){ %>              
                          <h3><%= (post.name.substring(0, 50) + "...") %></h3>
                        <% } else { %>
                          <h3><%= (post.name) %></h3>
                        <% } %>

                        <% if ((post.name).length > 25){ %>
                          <p><%= (post.post.substring(0, 120) + "...") %> <br><a href="/posts/<%=post.name%>" >Read More</a>  </p>
                        <% } else { %>
                          <p><%= (post.post.substring(0, 163) + "...") %> <br><a href="/posts/<%=post.name%>" >Read More</a>  </p>
                        <% } %>                        
                      </div>
                    </div>
                  </a>
                </div>
            <% }); %>                    
          </div>    
        </div>
        <% } else { %>
        <div class="no-post border">
            <img src="/images/no_post.png" alt="No post Img">
        </div> 
        <% } %>
        <div class="my-post-bottom"></div>
      </div>        
    </div>
</div>


<%- include("partials/footer") %>
